@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'D-DIN';
  src: url('../public/font/D-DIN-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
